{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block pagename %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<div id="main">
    {% for menu in menus %}
    <div>
        <h2>{{ menu.name_food }}</h2>
        <p>Вес: {{ menu.weight_gr }}, Цена: {{ menu.price }}</p>
        <img src="static/{{ menu.image }}" style="width: 250px; height: 250px;">
        <p style="width: 250px">Состав: {{ menu.ingredients }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
