{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block pagename %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
{% if messages %}
<p> {{ messages }} </p>
{% endif %}
<section class="container-fluid">
    <form method="post" action="/register_post/">
        <div class="cd-auto">
            <div class="input-group mb-3">
                <br>
                <input type="text" name="username_new" value='{{ username_new }}' class="form-control"
                       placeholder="Введите логин"
                       aria-label="Введите логин" aria-describedby="button-addon2"/><br><br>
                <input type="text" name="password_new" value='{{ password_new }}' class="form-control"
                       placeholder="Введите пароль"
                       aria-label="Введите пароль" aria-describedby="button-addon2"/><br><br>
                <input type="text" name="email_new" value='{{ email_new }}' class="form-control"
                       placeholder="Введите email"
                       aria-label="Введите email" aria-describedby="button-addon2"/><br><br>
                <button class="btn btn-outline-primary" type="submit" id="button-addon2" data-mdb-ripple-color="dark">
                    Добавить пользователя
                </button>
            </div>
        </div>
    </form>
</section>
</body>
{% endblock content %}
